<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IVehiculoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7016/VehiculoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVehiculoService"
                contract="ServiceReference1.IVehiculoService" name="BasicHttpBinding_IVehiculoService" />
        </client>
    </system.serviceModel>
</configuration>